In [61]:
import re
import random
import pandas as pd
import ast
from dateutil.parser import parse

In [62]:
def is_date(string, fuzzy=False):
    """
    Return whether the string can be interpreted as a date.

    :param string: str, string to check for date
    :param fuzzy: bool, ignore unknown tokens in string if True
    """
    try: 
        parse(string, fuzzy=fuzzy)
        return True

    except ValueError:
        return False
    
def replace_substrings(s, placeholders):
    s = s.replace("'\\'", "'/'")
    # Pattern to match substrings enclosed in single or double quotes
    pattern = r"\".*?\"|'.*?'"
    
    # Function to replace matched substrings with a random placeholder
    def replacer(match):
        #check in match is a number
        try:
            if str(ast.literal_eval(match.group(0))).isdigit():
                return f"'{str(ast.literal_eval(match.group(0)))}'"
            #check if match is a date
            elif is_date(match.group(0)):
                print(match.group(0),f"'{str(ast.literal_eval(match.group(0)))}'")
                return f"'{str(ast.literal_eval(match.group(0)))}'"
            else:
                return f"'{random.choice(placeholders)}'"
        except:
            return f"'{random.choice(placeholders)}'"
    
    # Use re.sub with the replacer function to replace matched substrings
    result = re.sub(pattern, replacer, s)
    
    return result

def wrap_row_with_quotes(row):
    #if the row starts and ends with "
    row = row.strip()
    if row[0] == '"' and row[-1] == '"':
        row = row[1:-1]
    if row[0] == "'" and row[-1] == "'":
        row = row[1:-1]
    if '"' in row:
        #substitute "" with '
        row = row.replace('"', "'")
    return row

In [63]:
placeholders = ["alpha", "beta", "gamma", "delta"]

In [64]:
file = "/workspaces/RAG_secure_code_generation/data/val_sqli.csv"

In [65]:
df = pd.read_csv(file)

In [66]:
parse('2015-06-30 11:16:20')

datetime.datetime(2015, 6, 30, 11, 16, 20)

In [67]:
#string = str(df.iloc[3345].Payloads)
#string = "INSERT into customerData VALUES ('0', '0/**//*!union*//**/all select 0-- ', 'Musterstr. 17, Musterstadt', 'muster@mail.com')"
#string = "Select * From hotelList, roomData where roomData.rate >= '100' and roomData.rate <= '400' and hotelList.country = \"')/**/union/**/select/**/0#\" limit 1, 1"
string = """UPDATE frk_member SET `username`='dennis', `password`=MD5('aaaa'), `salt`='aaaa', `autoLogin`=0, `timeZone`=0, `creationDate`='2015-06-30 11:16:20', `expirationDate`='0000-00-00 00:00:00', 
`lastLoginDate`='0000-00-00 00:00:00', `lastLoginAddress`='', `lastChangeDate`='2015-06-30', 
`visits`=0, `badAccess`=0, `level`=2, `enabled`=1, `email`='a@b.com', `title`='mr', `firstName`='dennis', 
`middleName`='appelt', `lastName`='blah', `city`='-8916%\"\" UNION ALL SELECT 6134,6134,6134,6134,6134,6134,6134,6134,6134-- ', 
`zipCode`='', `stateCode`='', `countryId`='LU', `phone`='', `mobile`='', `fax`='', `authorId`='1' WHERE memberId='2'"""

In [68]:
string

'UPDATE frk_member SET `username`=\'dennis\', `password`=MD5(\'aaaa\'), `salt`=\'aaaa\', `autoLogin`=0, `timeZone`=0, `creationDate`=\'2015-06-30 11:16:20\', `expirationDate`=\'0000-00-00 00:00:00\', \n`lastLoginDate`=\'0000-00-00 00:00:00\', `lastLoginAddress`=\'\', `lastChangeDate`=\'2015-06-30\', \n`visits`=0, `badAccess`=0, `level`=2, `enabled`=1, `email`=\'a@b.com\', `title`=\'mr\', `firstName`=\'dennis\', \n`middleName`=\'appelt\', `lastName`=\'blah\', `city`=\'-8916%"" UNION ALL SELECT 6134,6134,6134,6134,6134,6134,6134,6134,6134-- \', \n`zipCode`=\'\', `stateCode`=\'\', `countryId`=\'LU\', `phone`=\'\', `mobile`=\'\', `fax`=\'\', `authorId`=\'1\' WHERE memberId=\'2\''

In [69]:
replace_substrings(string, placeholders)

'2015-06-30 11:16:20' '2015-06-30 11:16:20'
'2015-06-30' '2015-06-30'

"UPDATE frk_member SET `username`='gamma', `password`=MD5('delta'), `salt`='gamma', `autoLogin`=0, `timeZone`=0, `creationDate`='2015-06-30 11:16:20', `expirationDate`='gamma', \n`lastLoginDate`='gamma', `lastLoginAddress`='alpha', `lastChangeDate`='2015-06-30', \n`visits`=0, `badAccess`=0, `level`=2, `enabled`=1, `email`='alpha', `title`='delta', `firstName`='delta', \n`middleName`='delta', `lastName`='delta', `city`='alpha', \n`zipCode`='alpha', `stateCode`='alpha', `countryId`='gamma', `phone`='delta', `mobile`='gamma', `fax`='delta', `authorId`='1' WHERE memberId='2'"

In [70]:
'100'.isdigit()

True