In [1]:
import pandas as pd
import os

In [2]:
file = "../data/FMereani.csv"

In [4]:
df = pd.read_csv(file, encoding = "ISO-8859-1")
df.head()

                                            Payloads      Class
0  http://www.nwce.gov.uk/search_process.php?keyw...  Malicious
1  http://www.manchester.gov.uk/site/scripts/goog...  Malicious
2  http://www.ldsmissions.com/us/index.php?action...  Malicious
3  http://education.powys.gov.uk/english/adult_ed...  Malicious
4  http://www.northwarks.gov.uk/site/scripts/goog...  Malicious

In [5]:
df.Class.value_counts()

Class
Benign       28068
Malicious    15149
Name: count, dtype: int64

In [9]:
# filter df keeping only the rows where the payloads starts with http:// or https://
df_filtered = df[df.Payloads.str.startswith("http://") | df.Payloads.str.startswith("https://")]
df_filtered.head()

                                            Payloads      Class
0  http://www.nwce.gov.uk/search_process.php?keyw...  Malicious
1  http://www.manchester.gov.uk/site/scripts/goog...  Malicious
2  http://www.ldsmissions.com/us/index.php?action...  Malicious
3  http://education.powys.gov.uk/english/adult_ed...  Malicious
4  http://www.northwarks.gov.uk/site/scripts/goog...  Malicious

In [11]:
df_filtered.Class.value_counts()

Class
Malicious    14247
Benign       13411
Name: count, dtype: int64